# SQLITE3  in Python

SQLlite is a package to manipulate dataset using the Structured Query Language.

In this notebook we introduce the concept of a SQL database and show how to interact with these databases in Python.

The fundamental concepts in SQL are the following:
* a database is a collection of datasets stored as tables.
  * Tables are similar to a pandas dataframe but the index is called rowid. 
  * We use SQL commands to create and drop tables in the database
  * CREATE allows us to create a new table
  * DROP allows us to delete an existing table and all of its data
* a table is a dataset consisting of a number of rows and columns
  *  each column has a name and a type
  *  each row has a unique rowid automatically created by SQLite
* a cursor is a Python object that allows us to interact with the tables in a database in several ways
  * INSERT allows us to add new rows
  * UPDATE allows us to modify the content of a row
  * DELETE allows us to remove rows
  * SELECT allows us to return rows of data from the tables in the database

Here is a link to all of the [SQLite statements](https://www.sqlite.org/lang.html) (and their grammar)

Here is a page 
[Pandas vs SQL](https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html)
that compares Pandas with SQL commands since they both deal with tables of data and do similar things.

As usual we first import the libraries we will need.

In [2]:
import sqlite3
import csv
'done'

'done'

# Interacting with the database
Sqlite stores its data in a file and to interact with the database you need to take three steps:
1. create a connection to the database (and this will create the database file if it doesn't already exist)
1. create a cursor for the connection (this allows us to query and modify the database)
1. run some queries using the cursor
1. commit the changes (if we don't commit the change then the database isn't updated, it is similar to commit with git!)
1. close the connection

The template for this code looks like this
``` python
    con= sqlite3.connect('courses.db') # create the connection
    cur = con.cursor()   # create the cursor to interact with the connection
    cur.execute(''' SOME 
    (MULTILINE) SQL COMMANDS GO HERE
    ending with a semicolon, always  ;
    ''')
    con.commit()  # write any database changes to the database file
    con.close()  # close the connection
```

In this tutorial we will learn a few of the core SQL commands. 
The full list is here https://www.sqlite.org/lang.html

# Overview of most common SQL commands
## Creating and dropping tables
``` python
CREATE TABLE tablename IF NOT EXISTS (colnam1 coltype1,  colname2 coltyp2, ...); -- create a new table
DROP TABLE tablename;
```
## Inserting data into a table
``` python
INSERT INTO tablename VALUES (col1val, col2val, ...) ; -- insert a row into a table
```
## Selecting data from a table
``` python
SELECT * FROM tablename;
SELECT colname1, colname2, ... FROM tablename WHERE condition1 OR condition2 AND NOT condition3;
```
## Delete rows from the table
``` python
DELETE FROM tablename;  -- remove all rows from the table
DELETE FROM tablename WHERE conditions;  -- delete selected rows from the table
```
## Updating data 
``` python
UPDATE tablename SET colname=expression WHERE condition;
```

# CRUD
There are many more SQL commands but these five will allow you to do all of the CRUD operations
which form the foundation of most database-backed apps. If you are interested in learning more about
databases you should take the **CS127b: Introduction to Databases** course
* Create -- with INSERT
* Read -- with SELECT
* Update -- with UPDATE
* Delete -- with DELETE

In the rest of this notebook we show how to interact with a SQLite database using Python.

We will use the courses.csv dataset as our example.

# Creating a table to store the course data
SQL requires that all data be stored in tables where each column has a name and a type.

The SQLite types are TEXT, NUMERIC, INTEGER, REAL, BLOB 

Here we define a function to create the table we are going to use to store the PA01 dataset.

The PA01 dataset, courses.csv, has the following form as a CSV file:
```
subj	num	suf	format	term	code	inst	title	sec	enr
NEJS	188	A	LEC	Fall 2004	1043	Levy, Avigdor	RISE/DECLINE:OTTOMAN EMP	1	32
CHEM	121	A	LEC	Fall 2004	1043	Foxman, Bruce	INORGANIC CHEM I, LECS.	1	18
CHEM	130	A	LEC	Fall 2004	1043	Yu, Jinquan	ADV ORG. CHEM: STRUCTURE	1	14
```
The functions below create or drop the table to store the courses.csv data.

In [3]:
def create_data_table():
    ''' create a table to store the Brandeis course data'''
    con= sqlite3.connect('courses.db')
    cur = con.cursor()
    cur.execute('''CREATE TABLE IF NOT EXISTS data
                     (subj text, num int, suf text, format text, term text, code int, inst text, title text, sec text, enr int)''')
    con.commit()
    con.close()

def drop_data_table():
    ''' remove the table and all of its data from the database'''
    con= sqlite3.connect('courses.db')
    cur = con.cursor()
    cur.execute('''DROP TABLE IF EXISTS data ''')
    con.commit()
    con.close()
    
drop_data_table()
create_data_table()

# loading and selecting the data
To load data into a database we can use the executemany cursor command
with an "INSERT SQL" command. Each row in rows is a tuple with 10 elements (matching the 10 question marks in the quer)

In [4]:
def load_data():
    ''' load data from courses.csv into courses.db by inserting one row at a time '''
    con= sqlite3.connect('courses.db')
    cur = con.cursor()
    course_file = open('courses.csv','r',encoding='utf-8')
    rows = csv.reader(course_file)
    for row in rows:
        cur.execute("INSERT INTO data VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",row)
    con.commit()
    con.close()

def load_data2():
    ''' load data from courses.csv into courses.db using the executemany cursor method '''
    con= sqlite3.connect('courses.db')
    cur = con.cursor()
    course_file = open('courses.csv')
    rows = csv.reader(course_file)
    cur.executemany("INSERT INTO data VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",rows)
    con.commit()
    con.close()
    
def get_all_data():
    ''' read all of the data and return it as a list of tuples '''
    con= sqlite3.connect('courses.db')
    cur = con.cursor()
    results = cur.execute("SELECT * FROM data")
    data= [x for x in results]
    con.commit()
    con.close()
    return data

def remove_all_data():
    ''' remove all of the data from the table '''
    con= sqlite3.connect('courses.db')
    cur = con.cursor()
    results = cur.execute("DELETE FROM data")
    con.commit()
    con.close()

load_data()
data = get_all_data()
data[:3]

[('NEJS',
  188,
  'A',
  'LEC',
  'Fall 2004',
  1043,
  'Levy, Avigdor',
  'RISE/DECLINE:OTTOMAN EMP',
  '1',
  32),
 ('CHEM',
  121,
  'A',
  'LEC',
  'Fall 2004',
  1043,
  'Foxman, Bruce',
  'INORGANIC CHEM I, LECS.',
  '1',
  18),
 ('CHEM',
  130,
  'A',
  'LEC',
  'Fall 2004',
  1043,
  'Yu, Jinquan',
  'ADV ORG. CHEM: STRUCTURE',
  '1',
  14)]

# Selecting the data
We can use the select statement to pick rows out of the database and then access those rows with
``` python
cur.fetchone() -- returns the next row in the result
cur.fetchman(N) -- returns the next N rows as a list
cur.fetchall() -- returns all the rows as a list
```

Here are some examples..

In [5]:
con= sqlite3.connect('courses.db')
cur = con.cursor()


print("First 10 courses in the dataset")
cur.execute("SELECT * FROM data;")
for i in range(10):
    rows = cur.fetchmany(1)
    print(rows)
print('-'*40)


print("Last 10 courses in the dataset")
cur.execute("SELECT * FROM data;")
data = cur.fetchall();
for row in data[-10:]:
    print(row)
print('-'*40)


print("first 100 or fewer COSI courses taught in summer semesters")
cur.execute("SELECT * FROM data where subj='COSI' and code%10=2;")
data = cur.fetchmany(100)
for row in data:
    print(row)
print('-'*40)


con.commit()
con.close()

First 10 courses in the dataset
[('NEJS', 188, 'A', 'LEC', 'Fall 2004', 1043, 'Levy, Avigdor', 'RISE/DECLINE:OTTOMAN EMP', '1', 32)]
[('CHEM', 121, 'A', 'LEC', 'Fall 2004', 1043, 'Foxman, Bruce', 'INORGANIC CHEM I, LECS.', '1', 18)]
[('CHEM', 130, 'A', 'LEC', 'Fall 2004', 1043, 'Yu, Jinquan', 'ADV ORG. CHEM: STRUCTURE', '1', 14)]
[('COMP', 1, 'A', 'LEC', 'Fall 2004', 1043, 'Ruesch, Gordon', 'COMPOSITION', '3', 11)]
[('MUS', 118, 'A', 'STD', 'Fall 2004', 1043, 'Ray, Mary', 'SENIOR RECITAL I', '1', 3)]
[('PE', 32, 'A', 'NCA', 'Fall 2004', 1043, 'Dibble, Susan', 'MODERN DANCE', '1', 15)]
[('USEM', 89, 'B', 'SEM', 'Fall 2004', 1043, 'Engerman, David', 'COLLEGE 101', '1W', 18)]
[('HS', 529, 'A', 'LEC', 'Fall 2004', 1043, 'Capitman, John', 'SOC.POLICY/POPULTN GROUP', '1', 15)]
[('POL', 14, 'B', 'LEC', 'Fall 2004', 1043, 'Teles, Steven', "INTRO TO AMERICAN GOV'T.", '1', 81)]
[('SOC', 107, 'A', 'LEC', 'Fall 2004', 1043, 'Williams, Dessima', 'APARTHEID/SOCIAL MOVEMNT', '1', 45)]
----------------------------------------
Last 10 courses in the dataset
('PHIL', 6, 'A', 'LEC', 'Summer 2021', 1212, 'Rufener, Casey', 'Introduction to Symbolic Logic', '1', 8)
('POL', 15, 'A', 'LEC', 'Summer 2021', 1212, 'Chase, Kerry A', 'Introduction to International Relations', '1', 4)
('PSYC', 148, 'A', 'LEC', 'Summer 2021', 1212, 'Liu, Xiaodong', 'Applied Statistical Computing in R', '1', 4)
('SOC', 1, 'A', 'LEC', 'Summer 2021', 1212, 'Leonard, Samantha', 'Order and Change in Society', '1', 6)
('THA', 2, 'A', 'LEC', 'Summer 2021', 1212, 'Jacobs, Alexander', 'Introduction to Theater: From the Page to the Stage', '1', 15)
('BIOL', 26, 'A', 'LEC', 'Summer 2021', 1212, 'Kosinski-Collins, Melissa', 'Plant Biology', '1', 9)
('ECON', 28, 'B', 'LEC', 'Summer 2021', 1212, 'AlMehdar, Mohammed', 'The Global Economy', '1', 4)
('PHIL', 1, 'A', 'LEC', 'Summer 2021', 1212, 'Lupu, Peter', 'Introduction to Philosophy', '1', 3)
('AAAS', 160, 'B', 'LEC', 'Summer 2021', 1212, 'Plumb, Betsy Loren', 'If We Must Die: War and Military Service in African American History', '1', 3)
('IGS', 130, 'A', 'LEC', 'Summer 2021', 1212, 'Campion, Selene', 'Global Migration', '1', 1)
----------------------------------------
first 100 or fewer COSI courses taught in summer semesters
('COSI', 11, 'A', 'LEC', 'Summer 2005', 1052, 'Hickey, Timothy', 'PROGRAMMING:JAVA AND C', '1', 2)
('COSI', 155, 'B', 'LEC', 'Summer 2005', 1052, 'Hickey, Timothy', 'COMPUTER GRAPHICS', '1', 4)
('COSI', 155, 'B', 'LEC', 'Summer 2006', 1062, 'Hickey, Timothy', 'COMPUTER GRAPHICS', '1', 8)
('COSI', 33, 'B', 'LEC', 'Summer 2007', 1072, 'Hickey, Timothy', 'INTERNET AND SOCIETY', '1', 4)
('COSI', 65, 'A', 'LEC', 'Summer 2007', 1072, 'Hickey, Timothy', 'INTRO 3-D ANIMATION', '1', 4)
('COSI', 2, 'A', 'LEC', 'Summer 2007', 1072, 'Hickey, Timothy', 'INTRO TO COMPUTERS', '1', 7)
('COSI', 2, 'A', 'LEC', 'Summer 2008', 1082, 'Hickey, Timothy', 'INTRO TO COMPUTERS', '1', 9)
('COSI', 11, 'A', 'LEC', 'Summer 2009', 1092, 'Hickey, Timothy', 'PROGRAMMING:JAVA AND C', '1', 5)
('COSI', 2, 'A', 'LEC', 'Summer 2009', 1092, 'Hickey, Timothy', 'INTRO TO COMPUTERS', '1', 6)
('COSI', 11, 'A', 'LEC', 'Summer 2010', 1102, 'Shaull, Ross', 'PROGRAMMING:JAVA AND C', '1', 7)
('COSI', 152, 'AJ', 'LEC', 'Summer 2010', 1102, 'Hickey, Timothy', 'WEB APPLICATION PROGRAMMING', '1', 10)
('COSI', 153, 'AJ', 'LEC', 'Summer 2010', 1102, 'Hickey, Timothy', 'MOBILE APPLICATION DEVELOPMENT', '1', 10)
('COSI', 154, 'AJ', 'LEC', 'Summer 2010', 1102, 'Hickey, Timothy', 'JBS INCUBATOR', '1', 10)
('COSI', 153, 'AJ', 'LEC', 'Summer 2011', 1112, 'Hickey, Timothy', 'MOBILE APPLICATION DEVELOPMENT', '1', 14)
('COSI', 153, 'BJ', 'LEC', 'Summer 2011', 1112, 'Hickey, Timothy', 'MOBILE GAME DESIGN', '1', 14)
('COSI', 154, 'AJ', 'LEC', 'Summer 2011', 1112, 'Hickey, Timothy', 'JBS INCUBATOR', '1', 14)
('COSI', 152, 'AJ', 'LEC', 'Summer 2012', 1122, 'Hickey, Timothy', 'WEB APPLICATION PROGRAMMING', '1', 11)
('COSI', 152, 'AJ', 'LEC', 'Summer 2012', 1122, 'Salas, R. Pito', 'WEB APPLICATION PROGRAMMING', '1', 11)
('COSI', 152, 'BJ', 'LEC', 'Summer 2012', 1122, 'Hickey, Timothy', 'WEB APP DEV SOCIAL NETWORKS', '1', 11)
('COSI', 154, 'AJ', 'LEC', 'Summer 2012', 1122, 'Hickey, Timothy', 'JBS INCUBATOR', '1', 11)
('COSI', 21, 'A', 'LEC', 'Summer 2013', 1132, 'Di Lillo, Antonella', 'STRUCTURE/FUNDMT.COMPUT.', '1', 8)
('COSI', 153, 'AJ', 'LEC', 'Summer 2013', 1132, 'Hickey, Timothy', 'MOBILE APPLICATION DEVELOPMENT', '1', 12)
('COSI', 153, 'BJ', 'LEC', 'Summer 2013', 1132, 'Hickey, Timothy', 'MOBILE GAME DESIGN', '1', 12)
('COSI', 154, 'AJ', 'LEC', 'Summer 2013', 1132, 'Hickey, Timothy', 'JBS INCUBATOR', '1', 12)
('COSI', 11, 'A', 'LEC', 'Summer 2013', 1132, 'Di Lillo, Antonella', 'PROGRAMMING:JAVA AND C', '1', 19)
('COSI', 115, 'BJ', 'LEC', 'Summer 2014', 1142, 'Meteer, Marie', 'SPOKEN DIALOG DESIGN', '1', 17)
('COSI', 152, 'AJ', 'LEC', 'Summer 2014', 1142, 'Hickey, Timothy', 'WEB APPLICATION PROGRAMMING', '1', 17)
('COSI', 154, 'AJ', 'LEC', 'Summer 2014', 1142, 'Hickey, Timothy', 'JBS INCUBATOR', '1', 17)
('COSI', 21, 'A', 'LEC', 'Summer 2014', 1142, 'Di Lillo, Antonella', 'STRUCTURE/FUNDMT.COMPUT.', '1', 20)
('COSI', 11, 'A', 'LEC', 'Summer 2014', 1142, 'Di Lillo, Antonella', 'PROGRAMMING:JAVA AND C', '1', 27)
('COSI', 21, 'A', 'LEC', 'Summer 2015', 1152, 'Di Lillo, Antonella', 'STRUCTURE/FUNDMT.COMPUT.', '1', 13)
('COSI', 115, 'BJ', 'LEC', 'Summer 2015', 1152, 'Meteer, Marie', 'SPOKEN DIALOG DESIGN', '1', 17)
('COSI', 152, 'AJ', 'LEC', 'Summer 2015', 1152, 'Hickey, Timothy', 'WEB APPLICATION DEVELOPMENT', '1', 17)
('COSI', 154, 'AJ', 'LEC', 'Summer 2015', 1152, 'Hickey, Timothy', 'JBS INCUBATOR', '1', 17)
('COSI', 11, 'A', 'LEC', 'Summer 2015', 1152, 'Di Lillo, Antonella', 'PROGRAMMING:JAVA AND C', '1', 21)
('COSI', 21, 'A', 'LEC', 'Summer 2016', 1162, 'Di Lillo, Antonella', 'STRUCTURE/FUNDMT.COMPUT.', '1', 18)
('COSI', 11, 'A', 'LEC', 'Summer 2016', 1162, 'Di Lillo, Antonella', 'PROGRAMMING:JAVA AND C', '1', 19)
('COSI', 115, 'BJ', 'LEC', 'Summer 2016', 1162, 'Meteer, Marie', 'SPOKEN DIALOG DESIGN', '1', 23)
('COSI', 152, 'AJ', 'LEC', 'Summer 2016', 1162, 'Hickey, Timothy', 'WEB APPLICATION DEVELOPMENT', '1', 23)
('COSI', 154, 'AJ', 'LEC', 'Summer 2016', 1162, 'Hickey, Timothy', 'JBS INCUBATOR', '1', 23)
('COSI', 12, 'B', 'LEC', 'Summer 2017', 1172, 'Di Lillo, Antonella', 'ADV. PROGRAMMING TECHNIQUES', '1', 7)
('COSI', 130, 'A', 'LEC', 'Summer 2017', 1172, 'Di Lillo, Antonella', 'INTRO THEORY COMPUTATION', '1', 8)
('COSI', 21, 'A', 'LEC', 'Summer 2017', 1172, 'Di Lillo, Antonella', 'STRUCTURE/FUNDMT.COMPUT.', '1', 10)
('COSI', 115, 'BJ', 'LEC', 'Summer 2017', 1172, 'Meteer, Marie', 'SPOKEN DIALOG DESIGN', '1', 19)
('COSI', 11, 'A', 'LEC', 'Summer 2017', 1172, 'Di Lillo, Antonella', 'PROGRAMMING:JAVA AND C', '1', 19)
('COSI', 152, 'AJ', 'LEC', 'Summer 2017', 1172, 'Hickey, Timothy', 'WEB APPLICATION DEVELOPMENT', '1', 19)
('COSI', 154, 'AJ', 'LEC', 'Summer 2017', 1172, 'Hickey, Timothy', 'JBS INCUBATOR', '1', 19)
('COSI', 12, 'B', 'LEC', 'Summer 2018', 1182, 'Di Lillo, Antonella', 'ADV. PROGRAMMING TECHNIQUES', '1', 5)
('COSI', 115, 'BJ', 'LEC', 'Summer 2018', 1182, 'Meteer, Marie', 'SPOKEN DIALOG DESIGN', '1', 18)
('COSI', 152, 'AJ', 'LEC', 'Summer 2018', 1182, 'Hickey, Timothy', 'WEB APPLICATION DEVELOPMENT', '1', 18)
('COSI', 154, 'AJ', 'LEC', 'Summer 2018', 1182, 'Hickey, Timothy', 'JBS INCUBATOR', '1', 18)
('COSI', 21, 'A', 'LEC', 'Summer 2018', 1182, 'Di Lillo, Antonella', 'STRUCTURE/FUNDMT.COMPUT.', '1', 20)
('COSI', 12, 'B', 'LEC', 'Summer 2019', 1192, 'Golitsyn, Michael', 'ADV. PROGRAMMING TECHNIQUES', '1', 13)
('COSI', 152, 'AJ', 'LEC', 'Summer 2019', 1192, 'Hickey, Timothy', 'WEB APPLICATION DEVELOPMENT', '1', 18)
('COSI', 154, 'AJ', 'LEC', 'Summer 2019', 1192, 'Zimmerman, Grace', 'JBS INCUBATOR', '1', 18)
('COSI', 21, 'A', 'LEC', 'Summer 2019', 1192, 'Di Lillo, Antonella', 'STRUCTURE/FUNDMT.COMPUT.', '1', 22)
('COSI', 11, 'A', 'LEC', 'Summer 2019', 1192, 'Di Lillo, Antonella', 'PROGRAMMING IN JAVA', '1', 23)
('COSI', 131, 'A', 'LEC', 'Summer 2020', 1202, 'Tsekourakis, Iraklis', 'OPERATING SYSTEMS', '1DL', 17)
('COSI', 152, 'A', 'LEC', 'Summer 2020', 1202, 'Hickey, Timothy', 'WEB APPLICATION DEVELOPMENT', '1DL', 18)
('COSI', 12, 'B', 'LEC', 'Summer 2020', 1202, 'Golitsyn, Michael', 'PROGRAMMING TECHNIQUES IN JAVA', '1DL', 21)
('COSI', 153, 'A', 'LEC', 'Summer 2020', 1202, 'Hickey, Timothy', 'MOBILE APPLICATION DEVELOPMENT', '1DL', 28)
('COSI', 21, 'A', 'LEC', 'Summer 2020', 1202, 'Di Lillo, Antonella', 'STRUCTURE/FUNDMT.COMPUT.', '1DL', 34)
('COSI', 10, 'A', 'LEC', 'Summer 2020', 1202, 'Di Lillo, Antonella', 'INTRO PROBLEM SOLVING PYTHON', '1DL', 49)
('COSI', 320, 'A', 'SEM', 'Summer 2012', 1122, 'Colon Osorio, Fernando', 'IT ENTREPRENEURSHIP PRACT. I', '1', 3)
('COSI', 320, 'A', 'SEM', 'Summer 2013', 1132, 'Hickey, Timothy', 'IT ENTREPRENEURSHIP PRACT. I', '1', 1)
('COSI', 12, 'B', 'LEC', 'Summer 2021', 1212, 'Golitsyn, Michael', 'Advanced Programming Techniques in Java', '1', 11)
('COSI', 152, 'A', 'LEC', 'Summer 2021', 1212, 'Hickey, Timothy J', 'Web Application Development', '1', 18)
('COSI', 153, 'A', 'LEC', 'Summer 2021', 1212, 'Hickey, Timothy J', 'Mobile Application Development', '1', 9)
----------------------------------------

# Creating a SQLite shell

In [6]:
def shell():
    
    
    command = input(">> ")
    while command !='quit':
        con= sqlite3.connect('courses.db')
        cur = con.cursor()
        
        cur.execute(command)
        results = cur.fetchall()
        for row in results[:5]:
            print(row)
        print('.'*40)
        for row in results[-5:]:
            print(row)
        con.commit()
        con.close()
        
        command = input(">> ")
    print('bye')

In [10]:
#shell()

>>  quit

bye

In [11]:
drop_data_table()
create_data_table()
data = get_all_data()
print(len(data))

0

In [12]:

load_data()

In [13]:
data = get_all_data()
len(data)

35206

In [14]:
print(data[1000])

('BIOL', 155, 'A', 'LAB', 'Fall 2009', 1093, 'Lovett, Susan', 'PROJECT LAB:GENETICS&GENOMICS', '1', 12)

In [15]:
print('removing all data from the table')
remove_all_data()
data = get_all_data()
print('tbe table size is now',len(data))
print('.'*40)
print('loading all data into the table')
load_data()
data = get_all_data()
print('the table size is now',len(data))

removing all data from the table
tbe table size is now 0
........................................
loading all data into the table
the table size is now 35206

In [16]:
print('Calculating the unique term codes in the dataset')
con= sqlite3.connect('courses.db')
cur = con.cursor()
cur.execute("SELECT distinct code from data ")
codes = [row[0] for row in cur.fetchall()]
codes = codes[1:]
print(codes)
con.close()

Calculating the unique term codes in the dataset
[1051, 1052, 1053, 1061, 1062, 1063, 1071, 1072, 1073, 1081, 1082, 1083, 1091, 1092, 1093, 1101, 1102, 1103, 1111, 1112, 1113, 1121, 1122, 1123, 1131, 1132, 1133, 1141, 1142, 1143, 1151, 1152, 1153, 1161, 1162, 1163, 1171, 1172, 1173, 1181, 1182, 1183, 1191, 1192, 1193, 1201, 1202, 1203, 1211, 1212]

In [17]:
print('calculating the number of students taking COSI courses each term (with double counting!)')
con= sqlite3.connect('courses.db')
cur = con.cursor()
#cur.execute("DELETE FROM data WHERE code NOTNULL")
cur.execute("SELECT code,count(*) as count,sum(enr) as n ,max(enr) as m,sum(enr)/count(enr) as average from data  where enr>=8 group by code")
for row in cur.fetchall():
    print(row)
con.close()

calculating the number of students taking COSI courses each term (with double counting!)
(1043, 710, 17680, 206, 24)
(1051, 698, 16750, 199, 23)
(1052, 74, 1309, 46, 17)
(1053, 735, 18651, 229, 25)
(1061, 708, 17010, 197, 24)
(1062, 66, 1209, 49, 18)
(1063, 769, 19458, 184, 25)
(1071, 749, 17972, 187, 23)
(1072, 71, 1253, 40, 17)
(1073, 790, 19388, 200, 24)
(1081, 756, 17877, 200, 23)
(1082, 78, 1269, 46, 16)
(1083, 796, 19249, 192, 24)
(1091, 752, 18139, 214, 24)
(1092, 88, 1302, 39, 14)
(1093, 799, 20064, 192, 25)
(1101, 784, 19244, 170, 24)
(1102, 94, 1534, 54, 16)
(1103, 796, 20416, 196, 25)
(1111, 803, 19868, 164, 24)
(1112, 107, 1690, 51, 15)
(1113, 825, 21220, 240, 25)
(1121, 817, 20622, 179, 25)
(1122, 104, 1613, 56, 15)
(1123, 847, 21406, 243, 25)
(1131, 830, 20298, 193, 24)
(1132, 123, 1941, 71, 15)
(1133, 846, 21689, 196, 25)
(1141, 847, 20736, 253, 24)
(1142, 125, 1995, 87, 15)
(1143, 842, 22484, 302, 26)
(1151, 849, 21055, 176, 24)
(1152, 135, 2006, 66, 14)
(1153, 852, 21756, 221, 25)
(1161, 827, 20092, 183, 24)
(1162, 126, 2196, 63, 17)
(1163, 860, 21705, 209, 25)
(1171, 818, 20054, 176, 24)
(1172, 134, 2065, 69, 15)
(1173, 853, 21495, 188, 25)
(1181, 810, 19986, 196, 24)
(1182, 107, 1967, 59, 18)
(1183, 862, 22412, 214, 26)
(1191, 828, 20408, 203, 24)
(1192, 90, 1601, 62, 17)
(1193, 891, 23148, 226, 25)
(1201, 845, 20918, 232, 24)
(1202, 114, 2096, 49, 18)
(1203, 845, 21934, 784, 25)
(1211, 834, 19691, 181, 23)
(1212, 30, 384, 20, 12)

In [18]:
print('calculating the COSI class with more than 150 students')
con= sqlite3.connect('courses.db')
cur = con.cursor()
cur.execute("SELECT enr,subj,num,suf,term from data WHERE enr>=150 AND subj='COSI' order by enr desc")
for row in cur.fetchall():
    print(row)
con.close()

calculating the COSI class with more than 150 students
(169, 'COSI', 11, 'A', 'Fall 2018')
(166, 'COSI', 164, 'A', 'Fall 2020')
(158, 'COSI', 2, 'A', 'Spring 2017')
(155, 'COSI', 155, 'B', 'Spring 2018')
(155, 'COSI', 10, 'A', 'Fall 2019')
(154, 'COSI', 29, 'A', 'Fall 2019')
(153, 'COSI', 164, 'A', 'Spring 2019')
(150, 'COSI', 10, 'A', 'Spring 2021')

In [19]:
print('Printing out the bulletin of all COSI courses offered from Fall04 to Summer21')
con= sqlite3.connect('courses.db')
cur = con.cursor()
for code in codes[:2]:
    cur.execute("SELECT * from data where subj=(?) and code=(?) order by code, num",('COSI', code ))
    print("Year ",code)
    for row in cur.fetchall():
        print(row)
    print('------',end="\n\n")
con.close()

Printing out the bulletin of all COSI courses offered from Fall04 to Summer21
Year  1051
('COSI', 11, 'A', 'LEC', 'Spring 2005', 1051, 'Wittenberg, David', 'PROGRAMMING:JAVA AND C', '1', 39)
('COSI', 21, 'B', 'LEC', 'Spring 2005', 1051, 'Mairson, Harry', 'COMP.PRGMS:STRUCT/INTERP', '1', 18)
('COSI', 22, 'B', 'LAB', 'Spring 2005', 1051, 'Mairson, Harry', 'PROGRAMMING PARADIGMS', '1', 15)
('COSI', 30, 'A', 'LEC', 'Spring 2005', 1051, 'Cohn, Martin', 'INTRO THEORY COMPUTATION', '1', 23)
('COSI', 33, 'B', 'LEC', 'Spring 2005', 1051, 'Hickey, Timothy', 'INTERNET AND SOCIETY', '1', 45)
('COSI', 35, 'A', 'LEC', 'Spring 2005', 1051, 'Pustejovsky, James', 'FUND. ARTIFICIAL INTELL.', '1', 26)
('COSI', 120, 'A', 'LEC', 'Spring 2005', 1051, 'Landsman, Seth', 'TOPICS-COMPUTER SYSTEMS', '1', 29)
('COSI', 125, 'A', 'LEC', 'Spring 2005', 1051, 'Alterman, Richard', 'HUMAN COMPUTER INTERACTN', '1', 30)
('COSI', 127, 'B', 'LEC', 'Spring 2005', 1051, 'Cherniack, Mitch', 'DATABASE MANAGEMENT SYST', '1', 29)
('COSI', 175, 'A', 'SEM', 'Spring 2005', 1051, 'Storer, James', 'DATA COMPRSSN/PROCESSING', '1', 27)
------

Year  1052
('COSI', 11, 'A', 'LEC', 'Summer 2005', 1052, 'Hickey, Timothy', 'PROGRAMMING:JAVA AND C', '1', 2)
('COSI', 155, 'B', 'LEC', 'Summer 2005', 1052, 'Hickey, Timothy', 'COMPUTER GRAPHICS', '1', 4)
------

In [20]:
print('printing out the COSI courses from Spring 2005')
con= sqlite3.connect('courses.db')
cur = con.cursor()
cur.execute("SELECT num, suf, title, inst from data where subj=(?) and code=(?)",('COSI', 1051))
for row in cur.fetchall():
    print(row)
con.commit()
con.close()

printing out the COSI courses from Spring 2005
(22, 'B', 'PROGRAMMING PARADIGMS', 'Mairson, Harry')
(21, 'B', 'COMP.PRGMS:STRUCT/INTERP', 'Mairson, Harry')
(30, 'A', 'INTRO THEORY COMPUTATION', 'Cohn, Martin')
(35, 'A', 'FUND. ARTIFICIAL INTELL.', 'Pustejovsky, James')
(120, 'A', 'TOPICS-COMPUTER SYSTEMS', 'Landsman, Seth')
(127, 'B', 'DATABASE MANAGEMENT SYST', 'Cherniack, Mitch')
(125, 'A', 'HUMAN COMPUTER INTERACTN', 'Alterman, Richard')
(11, 'A', 'PROGRAMMING:JAVA AND C', 'Wittenberg, David')
(33, 'B', 'INTERNET AND SOCIETY', 'Hickey, Timothy')
(175, 'A', 'DATA COMPRSSN/PROCESSING', 'Storer, James')

In [21]:
print("printing out the number of COSI courses taught by each COSI instructor from Fall04 to Summer21")
con= sqlite3.connect('courses.db')
cur = con.cursor()
for subj in 'COSI PHYS CHEM BIOL'.split():
    print('-'*20+subj)
    cur.execute("SELECT inst,sum(enr) as n from data where subj=(?) group by inst order by n desc",(subj, ))
    for row in cur:
        print(row)
    print('-'*100,)
con.commit()
con.close()

printing out the number of COSI courses taught by each COSI instructor from Fall04 to Summer21
--------------------COSI
('Di Lillo, Antonella', 4357)
('Hickey, Timothy', 3427)
('Cherniack, Mitch', 1547)
('Storer, James', 1308)
('Mairson, Harry', 1156)
('Alterman, Richard', 1100)
('Salas, R. Pito', 1025)
('Papaemmanouil, Olga', 962)
('Shrira, Liuba', 938)
('Hong, Pengyu', 854)
('Pustejovsky, James', 773)
('Pollack, Jordan', 648)
('Meteer, Marie', 435)
('Hickey, Timothy J', 368)
('DiLillo, Antonella', 340)
('Tsekourakis, Iraklis', 322)
('Chaturvedi, Praveen', 312)
('Xue, Nianwen', 302)
('Wellner, Benjamin', 182)
('Liu, Hongfu', 180)
('Anick, Peter', 163)
('Colon Osorio, Fernando', 159)
('Lignos, Constantine', 146)
('Salas, Ralph', 115)
('Storer, James A', 100)
('Marcus, Ryan', 81)
('Wittenberg, David', 70)
('Plaster, Keith', 68)
('Gessel, Ira', 67)
('Cohn, Martin', 46)
('Golitsyn, Michael', 45)
('Cohen, Jacques', 44)
('Garber, Solomon', 40)
('Abi-Antoun, Marwan', 40)
('Goldberg, Lotus', 37)
('Plotnick, Alexander', 35)
('Larusson, Johann', 35)
('Anick, Peter G', 32)
('Landsman, Seth', 29)
('Zhang, Chuxu', 26)
('Tresner-Kirsch, David', 25)
('Naamad, Amnon', 24)
('Zimmerman, Grace', 18)
('Wittenberg, William', 18)
('Moszkowicz, Jessica', 18)
('Wellner, Benjamin R.', 15)
('Loper, Edward', 9)
('Shaull, Ross', 7)
('Verhagen, Marcus E.', 5)
----------------------------------------------------------------------------------------------------
--------------------PHYS
('Wellenstein, Hermann', 2484)
('Fell, Richard', 2429)
('Martens, Edward', 1517)
('Sciolla, Gabriella', 1023)
('Fraden, Seth', 976)
('Mistark, Peter', 973)
('Svacha, Geoffry', 899)
('Roberts, David', 729)
('Bensinger, James', 706)
('Blocker, Craig', 665)
('Tompkins, Nathan', 518)
('Rogers, William', 505)
('Dogic, Zvonimir', 417)
('Samadani, Azadeh', 377)
('Wardle, John', 325)
('Colonna-Romano, Louis', 313)
('Chakraborty, Bulbul', 312)
('Baskaran, Aparna', 294)
('Headrick, Matthew', 266)
('Lawrence, Albion', 257)
('Lange, Robert', 242)
('Schnitzer, Howard', 216)
('Meyer, Robert', 215)
('Hagan, Michael', 200)
('Kondev, Jane', 163)
('Canter, Karl', 141)
('Kirsch, Lawrence', 138)
('Alizadeh, Hossein', 109)
('Duclos, Guillaume', 87)
('Hashemi, Kevan', 84)
('Fell, Richard N', 76)
('Soares-Santos, Marcelle', 65)
('Penning, Bjoern', 53)
('Rogers, William Benjamin', 42)
('Williams, Richard', 38)
('Entemann, Eric', 24)
('Deser, Stanley', 19)
('Baskaran, Arvind', 15)
('Wardle, John FC', 14)
('Lawrence, Albion E', 12)
('Wu, Kun Ta', 11)
('Swingle, Brian', 11)
('Vischi, Francesco', 10)
('Blocker, Craig A', 9)
('Farber, Ira', 8)
('Trappitsch, Reto', 7)
('Chasan, Bernard', 7)
('Ramirez-San Juan, Guillermina', 1)
----------------------------------------------------------------------------------------------------
--------------------CHEM
('Dolnik, Milos', 8354)
('Novack, Claudia', 4598)
('Mascall, Kristen', 4577)
('Pontrello, Jason', 3319)
('Snider, Barry', 1735)
('Epstein, Irving', 1419)
('Krauss, Isaac', 1359)
('Pochapsky, Thomas', 1214)
('Keehn, Philip', 1188)
('Murray, Stephanie', 988)
('Petsko, Gregory', 706)
('Herzfeld, Judith', 600)
('Cieplak, Andrzej', 577)
('Schmidt-Rohr, Klaus', 527)
('DiBlasi, Christine', 517)
('Ingoglia, Bryan', 439)
('Xu, Bing', 436)
('Foxman, Bruce', 381)
('Govindan, Meledath', 370)
('Wade, Christine', 332)
('Gieseking, Rebecca', 331)
('Wade, Casey', 300)
('Vela, Michael', 289)
('Deng, Li', 287)
('Hendrickson, James', 229)
('Yu, Jinquan', 223)
('Peavey, Dwight', 218)
('Rose, Timothy', 217)
('McGregor, Deirdra', 213)
('Walker, Martin', 188)
('Umans, Robert', 178)
('Agar, Jeffrey', 146)
('Ozerov, Oleg', 132)
('Gershenson, Anne', 127)
('Chan, Iu-Yam', 95)
('Meeks, Rebecca', 92)
('Yatin, Mustafa', 86)
('Wairegi, Angeline', 67)
('Jordan, Peter', 53)
('Han, Ggoch Ddeul', 53)
('Banger, Kal', 42)
('Miller, Christopher', 35)
('Horvath, Viktor', 33)
('Vela, Michael J.', 31)
('Steel, Colin', 31)
('Han, Grace G D', 30)
('Marquard, Seth', 29)
('Peavey, Dwight G', 28)
('Krauss, Isaac J.', 26)
('Xu, Hao', 20)
('Snider, Barry B', 16)
('Rotti, Rebecca', 15)
('Pochapsky, Thomas Charles', 15)
('Ting, Chi', 12)
('Churchill, Geoffrey', 12)
('Hedstrom, Lizbeth', 11)
('Dickie, Diane', 4)
('Epstein, Irving R', 3)
----------------------------------------------------------------------------------------------------
--------------------BIOL
('Kosinski-Collins, Melissa', 6654)
('Morris, James', 3305)
('Simister, Neil', 3030)
('Woodruff, Rachel', 2950)
('Miara, Maria', 2885)
('Tsipis, Judith', 1419)
('Hitchcock, Colleen', 1093)
('Garrity, Paul', 1016)
('Ren, Ruibao', 928)
('Lovett, Susan', 904)
('Schneider, Gretchen', 872)
('Haber, James', 848)
('Perlman, Dan', 831)
('Nicastro, Daniela', 757)
('Marr, Michael', 757)
('Hayes, Kenneth', 597)
('Wangh, Lawrence', 524)
('Piasta, Kene', 498)
('Rodal, Avital', 495)
('Griffith, Leslie', 465)
('Lai, Elaine', 460)
('Dodson, Robin', 458)
('Press, Joan', 451)
('de Boef Miara, Maria', 450)
('Goode, Bruce', 442)
('Lau, Nelson', 431)
('Woodruff, Rachel V.E.', 421)
('Jackson, Judith', 417)
('Baade, Jason', 406)
('Kadener, Sebastian', 401)
('Piasta, Kene Nathan', 391)
('Dore, Justin', 370)
('Lisman, John', 346)
('Olson, Eric', 300)
('Cunningham, Joseph', 260)
('Van Hooser, Stephen', 230)
('Rintell, David', 230)
('Hiller, Elaine', 216)
('Yoshida, Satoshi', 206)
('Sheidley, Beth', 206)
('Welte, Michael', 203)
('Kramer, Kate', 197)
('Hall, Jeffrey', 187)
('Saunders, Thuy', 184)
('Miller, Paul', 166)
('Rosbash, Michael', 163)
('DeRosier, David', 157)
('McIntosh, Nathalie', 149)
('Lichten, Lauren', 119)
('Peretti, Gail', 116)
('Vig, Hetal', 114)
('Marr, Michael Thomas', 113)
('Queler, Terri', 110)
('Chan, Gayun', 110)
('Buck, Cassandra', 109)
('Gajdos, Zofia', 101)
('Nelson, Sacha', 100)
('Lee, Amy', 99)
('Stoler, Joan', 97)
('Simon, Sharotka', 96)
('Staff, Staff', 92)
('Morris, James R.', 92)
('Cooper, Deani', 91)
('Johnson, Jennifer', 86)
('Noble, Alice', 82)
('Bisson, Alexandre', 82)
('Roche, Patricia', 80)
('Lerner, Barbara', 77)
('Emdad, Fatemeh', 72)
('Marder, Eve', 70)
('Walther, Andre', 69)
('Schneider, Gretchen H.', 68)
('Fulton, Chandler', 61)
('Cohen, Carolyn', 61)
('Jangi, Sushrut', 59)
('Houseman, Eugene', 57)
('Sutera, Vincent', 56)
('Dembele, Lassina', 53)
('Sengupta, Piali', 52)
('Paradis, Suzanne', 50)
('Carmichael, Nikkola', 47)
('Birren, Susan', 47)
('Rullman, Stan', 46)
('Harris, Rebecca', 45)
('Silen, William', 44)
('Rosenfield, Janet', 40)
('White, Kalpana', 31)
('Jackson, Judith A.', 29)
('Buck, Cassandra Jean', 29)
('Carmichael, Nikkola Erin', 26)
('Kelly, Tynan', 25)
('Cooper, Deanni', 24)
('Jacobson, Amanda', 21)
('Rigal, Joyce', 20)
('Pina, Cara', 20)
('Noble, Alice A', 20)
('Foster, Judith', 20)
('Laranjo, Laura', 19)
('Donelson, Nathan', 19)
('Ni, Lina', 18)
('Han, Eugene', 17)
('Adelson, Glenn', 17)
('Chester, Charles', 16)
('Kadener, Sebastien', 15)
('Zaslaver, Alon', 14)
('Huff, Emily', 14)
('Hughes, Jeff', 12)
('Windmiller, Bryan', 10)
('Nechipurenko, Inna', 10)
('McDonald, Elizabeth', 10)
('Tansey, Jennifer', 9)
('Han, Daoyuan', 8)
('Haber, James E', 8)
('Williams, Margaret', 7)
('Szabo, Theresa', 7)
('Stevenson, Nicholas', 7)
('Maier, Joost', 7)
('Sutera, Vincent A', 6)
('Roy, Apratim', 6)
('Doroquez, David', 5)
('Becalska, Agata', 4)
('Perunicic, Andrija', 3)
('James, Jennifer', 2)
('Griffith, Leslie Claire', 2)
('Villamil, Diego', 1)
('Hedstrom, Lizbeth', 1)
----------------------------------------------------------------------------------------------------

In [22]:
print("printing out the enrollments in COSI courses from Fall2004 through Summer2021")
con= sqlite3.connect('courses.db')
cur = con.cursor()
cur.execute("SELECT term,sum(enr) as n from data where subj=(?) group by code order by code",('COSI', ))
for row in cur.fetchall():
    print(row)
    if row[0].startswith('Summer'):
        print()
con.commit()
con.close()

printing out the enrollments in COSI courses from Fall2004 through Summer2021
('Fall 2004', 273)
('Spring 2005', 281)
('Summer 2005', 6)

('Fall 2005', 213)
('Spring 2006', 284)
('Summer 2006', 8)

('Fall 2006', 285)
('Spring 2007', 210)
('Summer 2007', 15)

('Fall 2007', 253)
('Spring 2008', 216)
('Summer 2008', 9)

('Fall 2008', 246)
('Spring 2009', 288)
('Summer 2009', 11)

('Fall 2009', 369)
('Spring 2010', 316)
('Summer 2010', 37)

('Fall 2010', 283)
('Spring 2011', 384)
('Summer 2011', 42)

('Fall 2011', 444)
('Spring 2012', 583)
('Summer 2012', 47)

('Fall 2012', 530)
('Spring 2013', 560)
('Summer 2013', 64)

('Fall 2013', 779)
('Spring 2014', 542)
('Summer 2014', 98)

('Fall 2014', 893)
('Spring 2015', 1007)
('Summer 2015', 85)

('Fall 2015', 1023)
('Spring 2016', 691)
('Summer 2016', 106)

('Fall 2016', 1087)
('Spring 2017', 905)
('Summer 2017', 101)

('Fall 2017', 911)
('Spring 2018', 871)
('Summer 2018', 79)

('Fall 2018', 1096)
('Spring 2019', 1088)
('Summer 2019', 94)

('Fall 2019', 1122)
('Spring 2020', 1015)
('Summer 2020', 167)

('Fall 2020', 1080)
('Spring 2021', 918)
('Summer 2021', 38)

In [23]:
print("printing out rowids which are unique keys for each row")
con= sqlite3.connect('courses.db')
cur = con.cursor()
cur.execute("SELECT rowid,enr,*  from data where subj=(?)  order by enr desc limit 20",('COSI', ))
for row in cur.fetchall():
    print(row)
    if row[2].startswith('Summer'):
        print()
con.commit()
con.close()

printing out rowids which are unique keys for each row
(13772, 169, 'COSI', 11, 'A', 'LEC', 'Fall 2018', 1183, 'Hickey, Timothy', 'PROGRAMMING IN JAVA', '2', 169)
(34815, 166, 'COSI', 164, 'A', 'LEC', 'Fall 2020', 1203, 'Hickey, Timothy J', 'Introduction to 3-D Animation', '1', 166)
(12458, 158, 'COSI', 2, 'A', 'LEC', 'Spring 2017', 1171, 'Hickey, Timothy', 'INTRO TO COMPUTERS', '1', 158)
(13327, 155, 'COSI', 155, 'B', 'LEC', 'Spring 2018', 1181, 'Hickey, Timothy', 'COMPUTER GRAPHICS', '1', 155)
(14630, 155, 'COSI', 10, 'A', 'LEC', 'Fall 2019', 1193, 'Hickey, Timothy', 'INTRO PROBLEM SOLVING PYTHON', '2', 155)
(14629, 154, 'COSI', 29, 'A', 'LEC', 'Fall 2019', 1193, 'Cherniack, Mitch', 'DISCRETE STRUCTURES', '1', 154)
(14191, 153, 'COSI', 164, 'A', 'LEC', 'Spring 2019', 1191, 'Hickey, Timothy', 'INTRO 3-D ANIMATION', '1', 153)
(33648, 150, 'COSI', 10, 'A', 'LEC', 'Spring 2021', 1211, 'Hickey, Timothy J', 'Introduction to Problem Solving in Python', '1', 150)
(14628, 149, 'COSI', 10, 'A', 'LEC', 'Fall 2019', 1193, 'Di Lillo, Antonella', 'INTRO PROBLEM SOLVING PYTHON', '1', 149)
(10299, 148, 'COSI', 11, 'A', 'LEC', 'Fall 2014', 1143, 'Hickey, Timothy', 'PROGRAMMING:JAVA AND C', '2', 148)
(12911, 146, 'COSI', 11, 'A', 'LEC', 'Fall 2017', 1173, 'Hickey, Timothy', 'PROGRAMMING:JAVA AND C', '2', 146)
(11176, 145, 'COSI', 11, 'A', 'LEC', 'Fall 2015', 1153, 'Di Lillo, Antonella', 'PROGRAMMING:JAVA AND C', '2', 145)
(13771, 144, 'COSI', 11, 'A', 'LEC', 'Fall 2018', 1183, 'Di Lillo, Antonella', 'PROGRAMMING IN JAVA', '1', 144)
(10726, 142, 'COSI', 65, 'A', 'LEC', 'Spring 2015', 1151, 'Hickey, Timothy', 'INTRO 3-D ANIMATION', '1', 142)
(11175, 142, 'COSI', 21, 'A', 'LEC', 'Fall 2015', 1153, 'Di Lillo, Antonella', 'STRUCTURE/FUNDMT.COMPUT.', '1', 142)
(12040, 141, 'COSI', 11, 'A', 'LEC', 'Fall 2016', 1163, 'Di Lillo, Antonella', 'PROGRAMMING:JAVA AND C', '1', 141)
(11174, 140, 'COSI', 11, 'A', 'LEC', 'Fall 2015', 1153, 'Di Lillo, Antonella', 'PROGRAMMING:JAVA AND C', '1', 140)
(12039, 140, 'COSI', 21, 'A', 'LEC', 'Fall 2016', 1163, 'Storer, James', 'STRUCTURE/FUNDMT.COMPUT.', '1', 140)
(10298, 136, 'COSI', 11, 'A', 'LEC', 'Fall 2014', 1143, 'Hickey, Timothy', 'PROGRAMMING:JAVA AND C', '1', 136)
(14627, 134, 'COSI', 131, 'A', 'LEC', 'Fall 2019', 1193, 'Papaemmanouil, Olga', 'OPERATING SYSTEMS', '1', 134)

In [24]:
#print("%-25s %5s %-40s  %3s %5s %5s"%('instructor','id','','class','num','total','avg'))
con= sqlite3.connect('courses.db')
cur = con.cursor()
cur.execute("SELECT inst,title,count(*),sum(enr),group_concat(term),num,suf from data where subj=(?) group by inst,title order by inst asc ",('COSI',))
results = cur.fetchall()
for row in results:
    print("%-25s %4d%s %-40s  %3d %5d %5.1f\n   %s\n"%((row[0],row[5], row[6], row[1], row[2], row[3], row[3]/row[2], row[4])))
con.commit()
con.close()

Abi-Antoun, Marwan          12B ADV. PROGRAMMING TECHNIQUES                 1    18  18.0
   Fall 2019

Abi-Antoun, Marwan         177A SCIENTIFIC DATA PROCESSING                  1    22  22.0
   Fall 2019

Alterman, Richard          215A ADV.TOPIC:COMP SUPPORTED COOP.              3    35  11.7
   Fall 2009,Spring 2014,Spring 2017

Alterman, Richard          215A ADV.TOPIC:HMAN-CENT COMP                    1    10  10.0
   Fall 2004

Alterman, Richard          118A COMP SUPPORT COOPERATIVE LEARN              1    17  17.0
   Fall 2012

Alterman, Richard          111A COMPUTATIONAL COGNIT.SCI                    5    90  18.0
   Fall 2005,Fall 2007,Fall 2010,Spring 2016,Spring 2018

Alterman, Richard          118A COMPUTER-SUPPORTED COOPERATION              6   232  38.7
   Spring 2007,Spring 2009,Spring 2011,Fall 2014,Fall 2016,Fall 2018

Alterman, Richard          118A Computer-Supported Cooperation              1    44  44.0
   Fall 2020

Alterman, Richard          125A HUMAN COMPUTER INTERACTN                    1    30  30.0
   Spring 2005

Alterman, Richard           25A HUMAN-COMPUTER INTERACTN                    7   349  49.9
   Fall 2006,Spring 2010,Fall 2011,Fall 2013,Fall 2015,Fall 2017,Fall 2019

Alterman, Richard           33B INTERNET AND SOCIETY                        4   268  67.0
   Spring 2006,Fall 2008,Spring 2012,Spring 2015

Alterman, Richard          139B TECH AND LEARNING SCIENCES                  1     8   8.0
   Spring 2019

Alterman, Richard          139B Technology and the Learning Sciences        1    17  17.0
   Spring 2021

Anick, Peter               132A INFORMATION RETRIEVAL                       7   151  21.6
   Spring 2014,Spring 2015,Spring 2016,Spring 2017,Spring 2018,Spring 2019,Spring 2020

Anick, Peter               217B NATURAL LANG. PROCESSING SYSTM              1    12  12.0
   Spring 2013

Anick, Peter G             132A Information Retrieval                       1    32  32.0
   Spring 2021

Chaturvedi, Praveen        153A MOBILE APPLICATION DEVELOPMENT              3   179  59.7
   Fall 2013,Fall 2015,Fall 2016

Chaturvedi, Praveen        177A SCIENTIFIC DATA PROCESSING                  3   133  44.3
   Spring 2014,Spring 2015,Spring 2017

Cherniack, Mitch           227B ADV.TOPICS:DATABASE SYST                    2    18   9.0
   Fall 2007,Spring 2016

Cherniack, Mitch            31A COMPUTER STRUCTURES/ORG.                    3    81  27.0
   Fall 2004,Fall 2005,Spring 2008

Cherniack, Mitch            31A COMPUTER SYS. STRUCTURES/ORG.               2    77  38.5
   Spring 2011,Spring 2012

Cherniack, Mitch           127B DATABASE MANAGEMENT SYST                   11   598  54.4
   Spring 2005,Spring 2007,Fall 2008,Spring 2010,Fall 2011,Fall 2012,Spring 2014,Fall 2015,Spring 2017,Spring 2018,Spring 2020

Cherniack, Mitch            29A DISCRETE STRUCTURES                         6   604 100.7
   Fall 2009,Fall 2013,Fall 2014,Fall 2016,Fall 2017,Fall 2019

Cherniack, Mitch            29A Discrete Structures                         1   101 101.0
   Fall 2020

Cherniack, Mitch           128A MODERN DATABASE SYSTEMS                     3    68  22.7
   Spring 2009,Fall 2010,Fall 2014

Cohen, Jacques             178A COMPUTATIONAL MOLEC.BIOL                    1    10  10.0
   Spring 2006

Cohen, Jacques             140A LOGIC PROGRAMMING                           1    19  19.0
   Fall 2006

Cohen, Jacques             120A TOPICS-COMPUTER SYSTEMS                     1    15  15.0
   Fall 2004

Cohn, Martin               171A CRYPTOLOGY                                  1    23  23.0
   Fall 2004

Cohn, Martin                30A INTRO THEORY COMPUTATION                    1    23  23.0
   Spring 2005

Colon Osorio, Fernando     162B COMPUTER ARCHITECTURE                       1     8   8.0
   Spring 2012

Colon Osorio, Fernando     235A IT ENTREPRENEURSHIP                         4    70  17.5
   Fall 2009,Fall 2010,Fall 2011,Fall 2012

Colon Osorio, Fernando     320A IT ENTREPRENEURSHIP PRACT. I                4    16   4.0
   Fall 2011,Summer 2012,Fall 2012,Spring 2013

Colon Osorio, Fernando     320B IT ENTREPRENEURSHIP PRACT. II               3     9   3.0
   Spring 2012,Fall 2012,Spring 2013

Colon Osorio, Fernando     236B SOFTWARE DEV. FOR IT ENTREPREN              4    56  14.0
   Spring 2010,Spring 2011,Spring 2012,Spring 2013

Di Lillo, Antonella         12B ADV. PROGRAMMING TECHNIQUES                 8   518  64.8
   Spring 2014,Spring 2014,Spring 2015,Summer 2017,Summer 2018,Spring 2019,Fall 2019,Spring 2020

Di Lillo, Antonella         22A FUNDAMENTALS:PROGRAMMING                    2    60  30.0
   Spring 2008,Spring 2009

Di Lillo, Antonella         33B INTERNET AND SOCIETY                        1    24  24.0
   Fall 2007

Di Lillo, Antonella         10A INTRO PROBLEM SOLVING PYTHON                2   198  99.0
   Fall 2019,Summer 2020

Di Lillo, Antonella         30A INTRO THEORY COMPUTATION                    7   335  47.9
   Spring 2008,Spring 2011,Spring 2013,Spring 2015,Spring 2017,Summer 2017,Spring 2020

Di Lillo, Antonella          2A INTRO TO COMPUTERS                          2   184  92.0
   Spring 2011,Spring 2012

Di Lillo, Antonella        177A INTRO: SCIENTIFIC COMPUTING                 2   118  59.0
   Spring 2012,Spring 2013

Di Lillo, Antonella         11A PROGRAMMING IN JAVA                         2   167  83.5
   Fall 2018,Summer 2019

Di Lillo, Antonella         11A PROGRAMMING:JAVA AND C                     19  1606  84.5
   Fall 2007,Fall 2008,Fall 2009,Fall 2010,Fall 2011,Fall 2012,Fall 2012,Summer 2013,Fall 2013,Fall 2013,Summer 2014,Summer 2015,Fall 2015,Fall 2015,Summer 2016,Fall 2016,Fall 2016,Summer 2017,Fall 2017

Di Lillo, Antonella        177A SCIENTIFIC DATA PROCESSING                  2   102  51.0
   Spring 2016,Spring 2018

Di Lillo, Antonella         21A STRUCTURE/FUNDMT.COMPUT.                   20  1045  52.2
   Spring 2008,Spring 2009,Spring 2010,Fall 2011,Summer 2013,Fall 2013,Summer 2014,Summer 2015,Fall 2015,Summer 2016,Spring 2017,Summer 2017,Fall 2017,Spring 2018,Summer 2018,Fall 2018,Spring 2019,Summer 2019,Spring 2020,Summer 2020

DiLillo, Antonella          12B Advanced Programming Techniques in Java     2   139  69.5
   Spring 2021,Fall 2020

DiLillo, Antonella          21A Data Structures and the Fundamentals of Computing    2   201 100.5
   Spring 2021,Fall 2020

Garber, Solomon            177A SCIENTIFIC DATA PROCESSING                  1    40  40.0
   Spring 2019

Gessel, Ira                 29A DISCRETE STRUCTURES                         4    67  16.8
   Fall 2004,Fall 2005,Fall 2006,Fall 2007

Goldberg, Lotus            138A COMPUTATIONAL LINGUISTICS                   5    37   7.4
   Spring 2011,Spring 2012,Spring 2013,Spring 2014,Spring 2015

Golitsyn, Michael           12B ADV. PROGRAMMING TECHNIQUES                 1    13  13.0
   Summer 2019

Golitsyn, Michael           12B Advanced Programming Techniques in Java     1    11  11.0
   Summer 2021

Golitsyn, Michael           12B PROGRAMMING TECHNIQUES IN JAVA              1    21  21.0
   Summer 2020

Hickey, Timothy             12B ADV. PROGRAMMING TECHNIQUES                 3   264  88.0
   Spring 2013,Spring 2018,Spring 2020

Hickey, Timothy            155B COMPUTER GRAPHICS                           6   262  43.7
   Summer 2005,Summer 2006,Fall 2007,Spring 2014,Fall 2015,Spring 2018

Hickey, Timothy             29A DISCRETE STRUCTURES                         1    19  19.0
   Fall 2008

Hickey, Timothy             33B INTERNET AND SOCIETY                        3   119  39.7
   Spring 2005,Summer 2007,Spring 2010

Hickey, Timothy             65A INTRO 3-D ANIMATION                         8   703  87.9
   Summer 2007,Fall 2009,Spring 2012,Fall 2013,Spring 2015,Fall 2016,Spring 2019,Spring 2019

Hickey, Timothy             65A INTRO 3D ANIMATION                          1    61  61.0
   Spring 2007

Hickey, Timothy             10A INTRO PROBLEM SOLVING PYTHON                2   256 128.0
   Fall 2019,Spring 2020

Hickey, Timothy              2A INTRO TO COMPUTERS                          9   555  61.7
   Fall 2004,Spring 2006,Fall 2006,Summer 2007,Spring 2008,Summer 2008,Spring 2009,Summer 2009,Spring 2017

Hickey, Timothy            177A INTRO: SCIENTIFIC COMPUTING                 1    46  46.0
   Spring 2011

Hickey, Timothy            320A IT ENTREPRENEURSHIP PRACT. I                2     3   1.5
   Summer 2013,Fall 2013

Hickey, Timothy            320B IT ENTREPRENEURSHIP PRACT. II               1     1   1.0
   Spring 2015

Hickey, Timothy            154AJ JBS INCUBATOR                               9   141  15.7
   Summer 2010,Summer 2011,Summer 2012,Summer 2013,Summer 2014,Summer 2015,Summer 2016,Summer 2017,Summer 2018

Hickey, Timothy            153AJ MOBILE APPLICATION DEVELOPMENT              4    64  16.0
   Summer 2010,Summer 2011,Summer 2013,Summer 2020

Hickey, Timothy            153BJ MOBILE GAME DESIGN                          2    26  13.0
   Summer 2011,Summer 2013

Hickey, Timothy             11A PROGRAMMING IN JAVA                         2   248 124.0
   Fall 2018,Fall 2018

Hickey, Timothy             11A PROGRAMMING:JAVA AND C                      6   491  81.8
   Summer 2005,Fall 2005,Summer 2009,Fall 2014,Fall 2014,Fall 2017

Hickey, Timothy             89AJ RESEARCH INTERNSHIP                         3     6   2.0
   Fall 2010,Fall 2011,Fall 2012

Hickey, Timothy            152BJ WEB APP DEV SOCIAL NETWORKS                 1    11  11.0
   Summer 2012

Hickey, Timothy            152AJ WEB APPLICATION DEVELOPMENT                 6   113  18.8
   Summer 2015,Summer 2016,Summer 2017,Summer 2018,Summer 2019,Summer 2020

Hickey, Timothy            152AJ WEB APPLICATION PROGRAMMING                 3    38  12.7
   Summer 2010,Summer 2012,Summer 2014

Hickey, Timothy J          164A Introduction to 3-D Animation               1   166 166.0
   Fall 2020

Hickey, Timothy J           10A Introduction to Problem Solving in Python    2   175  87.5
   Spring 2021,Fall 2020

Hickey, Timothy J          153A Mobile Application Development              1     9   9.0
   Summer 2021

Hickey, Timothy J          152A Web Application Development                 1    18  18.0
   Summer 2021

Hong, Pengyu               178A COMPUTATIONAL MOLEC.BIOL                    9   149  16.6
   Spring 2007,Spring 2009,Spring 2011,Fall 2011,Fall 2013,Fall 2014,Fall 2016,Fall 2017,Spring 2020

Hong, Pengyu                29A DISCRETE STRUCTURES                         1    21  21.0
   Fall 2010

Hong, Pengyu               101A FUND. ARTIFICIAL INTELL.                    6   226  37.7
   Fall 2006,Fall 2009,Spring 2014,Fall 2015,Spring 2017,Fall 2019

Hong, Pengyu               149B PRACTICAL MACHINE LEARNING                  1    77  77.0
   Spring 2019

Hong, Pengyu               149B Practical Machine Learning with Big Data    1    48  48.0
   Spring 2021

Hong, Pengyu               123A STATISTICAL MACHINE LEARNING                8   260  32.5
   Spring 2006,Spring 2008,Spring 2010,Spring 2012,Spring 2013,Spring 2015,Spring 2016,Spring 2018

Hong, Pengyu               123A Statistical Machine Learning                1    56  56.0
   Fall 2020

Hong, Pengyu               230A TOPICS IN COMPUTATIONAL BIOLGY              1    11  11.0
   Fall 2007

Hong, Pengyu               230A Topics in Computational Biolgy              1     6   6.0
   Fall 2005

Landsman, Seth             120A TOPICS-COMPUTER SYSTEMS                     1    29  29.0
   Spring 2005

Larusson, Johann           157A COMPONENT-BASED SOFT. DEV.                  1    35  35.0
   Fall 2010

Lignos, Constantine        114A Fundamentals of Natural Language Processing I    1    84  84.0
   Fall 2020

Lignos, Constantine        217B NATURAL LANG. PROCESSING SYSTM              1    37  37.0
   Fall 2019

Lignos, Constantine        217B Natural Language Processing Systems         1    13  13.0
   Spring 2021

Lignos, Constantine        216A TOPICS:NATURAL LANG PROC                    1    12  12.0
   Spring 2020

Liu, Hongfu                159A Computer Vision                             1    10  10.0
   Spring 2021

Liu, Hongfu                129A INTRODUCTION BIG DATA ANALYSIS              1    22  22.0
   Spring 2019

Liu, Hongfu                126A INTRODUCTION TO DATA MINING                 2    70  35.0
   Fall 2018,Spring 2020

Liu, Hongfu                 21A STRUCTURE/FUNDMT.COMPUT.                    1    64  64.0
   Fall 2019

Liu, Hongfu                120A Topics in Computer Systems                  1    14  14.0
   Fall 2020

Loper, Edward              217B NATURAL LANG. PROCESSING SYSTM              1     9   9.0
   Fall 2008

Mairson, Harry              21B COMP.PRGMS:STRUCT/INTERP                   15   646  43.1
   Spring 2005,Fall 2005,Fall 2006,Fall 2007,Fall 2008,Fall 2010,Spring 2012,Spring 2013,Spring 2014,Spring 2015,Spring 2016,Spring 2017,Spring 2018,Spring 2019,Spring 2020

Mairson, Harry              29A DISCRETE STRUCTURES                         4   270  67.5
   Fall 2011,Fall 2012,Fall 2015,Fall 2018

Mairson, Harry             190A Introduction to Programming Language Theory    1    18  18.0
   Fall 2020

Mairson, Harry             190A PROGRAMMING LANG.THEORY                     6    72  12.0
   Spring 2006,Spring 2008,Fall 2010,Fall 2013,Fall 2017,Fall 2019

Mairson, Harry              22B PROGRAMMING PARADIGMS                       5    89  17.8
   Spring 2005,Fall 2005,Fall 2006,Fall 2007,Fall 2008

Mairson, Harry             121B Structure and Interpretation of Computer Programs    1    61  61.0
   Spring 2021

Marcus, Ryan               127B DATABASE MANAGEMENT SYST                    1    81  81.0
   Spring 2019

Meteer, Marie              136A AUTOMATED SPEECH RECOGNITION                8   122  15.2
   Fall 2012,Fall 2013,Fall 2014,Fall 2015,Fall 2016,Fall 2017,Fall 2018,Spring 2020

Meteer, Marie              138A COMPUTATIONAL LINGUISTICS                   1    19  19.0
   Spring 2017

Meteer, Marie              232F COMPUTATIONAL MODELS DISCOURSE              1     5   5.0
   Spring 2016

Meteer, Marie              233F DIALOG MANAGEMENT SYSTEMS                   1     3   3.0
   Spring 2016

Meteer, Marie              233A DISCOURSE AND DIALOG                        1     3   3.0
   Spring 2018

Meteer, Marie              114B FUNDAMENTAL COMPUTATIONAL LING              3    78  26.0
   Spring 2013,Spring 2014,Spring 2016

Meteer, Marie              140B NAT LANG ANNOTATION FOR MACHIN              3    50  16.7
   Spring 2015,Spring 2017,Spring 2018

Meteer, Marie              217B NATURAL LANG. PROCESSING SYSTM              1     4   4.0
   Spring 2012

Meteer, Marie              115BJ SPOKEN DIALOG DESIGN                        5    94  18.8
   Summer 2014,Summer 2015,Summer 2016,Summer 2017,Summer 2018

Meteer, Marie              114B TOPICS:COMPTATIONAL LING                    2    32  16.0
   Spring 2010,Spring 2011

Meteer, Marie              216A TOPICS:NATURAL LANG PROC                    3    25   8.3
   Spring 2010,Fall 2010,Fall 2011

Moszkowicz, Jessica        135B COMPUTATIONAL SEMANTICS                     1    18  18.0
   Fall 2011

Naamad, Amnon              120A TOPICS-COMPUTER SYSTEMS                     1    24  24.0
   Fall 2005

Papaemmanouil, Olga         12B ADV. PROGRAMMING TECHNIQUES                 8   512  64.0
   Spring 2010,Spring 2011,Spring 2012,Spring 2015,Spring 2016,Spring 2017,Fall 2017,Fall 2018

Papaemmanouil, Olga        143B Data Management for Data Science            1    33  33.0
   Spring 2021

Papaemmanouil, Olga        129A INTRODUCTION BIG DATA ANALYSIS              1    59  59.0
   Fall 2014

Papaemmanouil, Olga        130A NETWORKED INFORMATION SYSTEMS               5   147  29.4
   Fall 2012,Fall 2013,Fall 2016,Spring 2018,Spring 2020

Papaemmanouil, Olga        131A OPERATING SYSTEMS                           2   174  87.0
   Fall 2019,Spring 2020

Papaemmanouil, Olga        228A TOPICS IN DISTRIBUTED SYSTEMS               3    37  12.3
   Fall 2009,Fall 2011,Fall 2015

Plaster, Keith             138A COMPUTATIONAL LINGUISTICS                   4    68  17.0
   Spring 2016,Spring 2018,Spring 2019,Spring 2020

Plotnick, Alexander        157A COMPONENT-BASED SOFT. DEV.                  1    35  35.0
   Fall 2012

Pollack, Jordan            113B ARTIFICIAL LIFE                             4    79  19.8
   Spring 2010,Fall 2011,Fall 2013,Spring 2016

Pollack, Jordan             21B COMP.PRGMS:STRUCT/INTERP                    1    13  13.0
   Fall 2009

Pollack, Jordan             35A FUND. ARTIFICIAL INTELL.                    5   147  29.4
   Spring 2006,Fall 2008,Spring 2011,Spring 2018,Spring 2019

Pollack, Jordan            101A Fundamentals of Artificial Intelligence     1    30  30.0
   Spring 2021

Pollack, Jordan             33B INTERNET AND SOCIETY                        1    19  19.0
   Fall 2006

Pollack, Jordan              2A INTRO TO COMPUTERS                          2   209 104.5
   Spring 2013,Spring 2015

Pollack, Jordan             10A Introduction to Problem Solving in Python    1    92  92.0
   Fall 2020

Pollack, Jordan            113B MACHINE LEARNING                            2    29  14.5
   Spring 2007,Spring 2009

Pollack, Jordan             22B PROGRAMMING PARADIGMS                       1    12  12.0
   Fall 2009

Pollack, Jordan            217A TOPICS:ADAPTIVE SYSTEMS                     2    18   9.0
   Fall 2004,Spring 2008

Pustejovsky, James         135B COMPUTATIONAL SEMANTICS                     4   102  25.5
   Spring 2009,Fall 2014,Fall 2017,Fall 2019

Pustejovsky, James         233A Discourse and Dialog                        1    15  15.0
   Fall 2020

Pustejovsky, James          35A FUND. ARTIFICIAL INTELL.                    3    95  31.7
   Spring 2005,Fall 2007,Fall 2012

Pustejovsky, James         114B FUNDAMENTAL COMPUTATIONAL LING              6   183  30.5
   Spring 2012,Spring 2015,Spring 2017,Spring 2018,Spring 2019,Spring 2020

Pustejovsky, James         114B Fundamentals of Natural Language Processing II    1    33  33.0
   Spring 2021

Pustejovsky, James         137B INFORMATION EXTRACTION                      1    22  22.0
   Spring 2017

Pustejovsky, James         129A INTRODUCTION BIG DATA ANALYSIS              1    81  81.0
   Fall 2016

Pustejovsky, James         112A MODAL,TEMPORAL,SPACIAL LOGIC                2    23  11.5
   Fall 2008,Fall 2010

Pustejovsky, James         112A MODAL,TEMPORAL,SPATIAL LOGIC                3    60  20.0
   Fall 2013,Fall 2016,Fall 2018

Pustejovsky, James         140B NAT LANG ANNOTATION FOR MACHIN              1    19  19.0
   Spring 2016

Pustejovsky, James         112A THRY/MODELS:INTEL.BEHAVR                    2    42  21.0
   Fall 2004,Fall 2006

Pustejovsky, James         114B TOPICS:COMPTATIONAL LING                    2    36  18.0
   Spring 2006,Spring 2008

Pustejovsky, James         216A TOPICS:NATURAL LANG PROC                    4    62  15.5
   Spring 2007,Fall 2009,Spring 2011,Spring 2013

Salas, R. Pito              12B ADV. PROGRAMMING TECHNIQUES                 4   320  80.0
   Spring 2016,Spring 2017,Spring 2018,Spring 2019

Salas, R. Pito             119A AUTONOMOUS ROBOTICS                         2    14   7.0
   Fall 2019,Fall 2019

Salas, R. Pito             119A AUTONOMOUS ROBOTICS LAB                     3    23   7.7
   Spring 2018,Fall 2018,Spring 2019

Salas, R. Pito             166B CAPSTONE SOFTWARE ENGINEERING               4   107  26.8
   Spring 2017,Fall 2017,Fall 2018,Spring 2020

Salas, R. Pito             166B CAPSTONE SOFTWARE ENTREPRENEUR              1    35  35.0
   Spring 2016

Salas, R. Pito             165A IT ENTREPRENEURSHIP                         2    39  19.5
   Fall 2014,Fall 2013

Salas, R. Pito             236B SOFTWARE DEV. FOR IT ENTREPREN              1    17  17.0
   Spring 2014
